extends ../../layout

block content
    .page-header
        a.btn.btn-gradient-primary.btn-fw(href=`${baseUrl}/blogs/post-create`) Create Post
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item 
                    a(href=`${baseUrl}/dashboard`) Dashboard
                li.breadcrumb-item.active(aria-current='page') Post List
    .row
        .col-lg-12.grid-margin.stretch-card
            .card
                .card-body
                    table#productTable.table.table-hover
                        thead
                            tr
                                th TITLE
                                th BODY
                                th IMAGE
                        tbody
                            each vsight in vsights
                                tr
                                    td= vsight.title
                                    td= vsight.body
                                    td
                                        img(src=vsight.image alt=vsight.title style="width: 200px; height: 120px; border-radius:0")


