extends ../../layout

block content
    .page-header
        a.btn.btn-gradient-primary.btn-fw(href=`${baseUrl}/products/product-create`) Create Product
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item 
                    a(href=`${baseUrl}/dashboard`) Dashboard
                li.breadcrumb-item.active(aria-current='page') Prodcuct List
    .row
        .col-lg-12.grid-margin.stretch-card
            .card
                .card-body
                    table#discountTable.table.table-hover
                        thead
                            tr
                                th CODE
                                th NAME
                                th BRAND
                                th MANUFACTURE
                                th DESCRIPTION
                                th PRICE
                                th PRICE DISCOUNT
                        tbody
                            each product in products
                                tr
                                    td= product.identityNumber
                                    td= product.name
                                    td= product.brand
                                    td= product.manufacture
                                    td= product.description
                                    td= product.price
                                    td= product.finalPrice

